doctype html
html
  head
    meta(property="og:locale",content="zh_TW")
    meta(property="og:title",content="g0v intl landing")
    meta(property="og:type",content="article")
    meta(property="og:url",content="https://daisuke1230.github.io/g0v-intl-landing")
    meta(property="og:image",content="https://daisuke1230.github.io/g0v-intl-landing/img/og.jpg")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="1084")
    meta(property="og:image:height",content="631")
    meta(property="og:description",content="g0v intl landing, join us on g0v slack #intl")
    meta(property="article:author",content="g0v intl")
    meta(property="article:section",content="Taiwan")
    meta(name="viewport" content="width=device-width; initial-scale=1.0;")
    meta(charset="utf-8")
    script(type="text/javascript" src="//code.jquery.com/jquery-3.3.1.slim.min.js")
    link(rel="stylesheet",type="text/css",
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    script(type="text/javascript" src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,700&Display=swap",rel="stylesheet")
    //-link(href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro:300&display=swap",rel="stylesheet")
  body
    include module/nav.jade
    include module/jumbotron.jade
    include module/news.jade
    include module/what.jade
    include module/features.jade
    include module/traction.jade
    include module/photos.jade
    include module/how.jade
    include module/footer.jade
//  include module/why.jade
