//- module
.section.section-features: .inner
  .row
    .col-md
      .text-center: i.icon.fa.fa-comments-o
      .text-center: h5 g0v-intl
      p 沒有要獨佔 g0v 社群國際交流的定義。
    .col-md
      .text-center: i.icon.fa.fa-user-o
      .text-center: h5 g0v intl
      p 要建立有開放治理機制的社群國際交流。
    .col-md
      .text-center: i.icon.fa.fa-handshake-o
      .text-center: h5 g0v intl
      p 目前（2019）正在與 ocf-intl 協作、建立訊息互通、互信機制。

