//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-12
      .row
        .col-6.col-md-8
          label g0v international (g0v-intl)
          .item: a(href="mailto:intl@g0v.tw") #[.fa.fa-envelope] Contact
          .item: a(href="https://g0v.hackmd.io/Ozy9SKwORXOIBFiGdSkLtw#") #[.fa.fa-book] g0v-intl g0vernance
          .item: a(href="http://join.g0v.tw") #[.fa.fa-slack] Join Slack #intl
          .item: a(href="http://g0v.tw") #[.fa.fa-globe] g0v.tw
        .col-6.col-md-4.text-center
            img(src="img/g0v-intl-logo.svg",style="width:200px",alt="g0v intl")


