//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-12
      .row
        .col-6.col-md-6
          label g0v 國際交流社群工作小組
          .item: a(href="mailto:intl@g0v.tw") 聯絡窗口
          .item: a(href="https://g0v.hackmd.io/Ozy9SKwORXOIBFiGdSkLtw#") 開放治理機制
        .col-6.col-md-6.text-center
            img(src="img/g0v-intl-logo.svg",style="width:200px",alt="g0v intl")


