//- module
.section.section-how.bg-info.text-light: .inner.text-center
  h2 要怎麼開始呢
  p 何不放些文件與說明呢？請考慮到完全陌生的使用者，進入門檻跟上手的複雜度。
  br
  iframe(src="https://calendar.google.com/calendar/embed?src=7esl846j85jr2pgphetul55tj0%40group.calendar.google.com&ctz=Asia%2FTaipei" width='100%' height='500px')
  .btn.btn-light.btn-lg 現在就開始

