//- module
.jumbotron.text-light
  .inner.text-center
    h1.md2 g0v international (g0v-intl)
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
      p g0v international (g0v-intl) is a g0v community task force on building infrastructure & establishing open governance mechanisms for g0v’s international affairs.
