//- module
.jumbotron.text-light
  .inner.text-center
    h1.md2 Mission statement
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
      p g0v-intl 沒有要獨佔 g0v 社群國際交流的定義
      p g0v-intl 要建立有開放治理機制的社群國際交流
      p g0v-intl 目前（2019）正在與 ocf-intl 協作、建立訊息互通、互信機制
