//- module
.jumbotron.text-light
  .inner.text-center
    h1.md2 g0v international #[span(style='font-size:.675em') (g0v-intl)]
    .w-50.mx-auto.my-4
      p g0v international (g0v-intl) is a g0v community task force on building infrastructure & establishing open governance mechanisms for g0v’s international affairs.
