//- module
.section.section-member: .inner
  .text-center: h2 Member
  .row
    .photo(style="background-image:url(img/member.jpg)")
    .col-md
      div(style="background-image: url(/img/member.jpg);")
    .col-md
      p g0v intl 沒有要獨佔 g0v 社群國際交流的定義。
