//- module
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href="#") g0v-intl
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.ml-auto
      li.nav-item.active: a.nav-link(href="https://trello.com/b/xxd5GtcJ/" target="_blank") Trello
      li.nav-item.active: a.nav-link(href="#what") About
      li.nav-item.active: a.nav-link(href="#") sth

