//- module
.section.bg-white.section-news: .inner
  .text-center: h2 News
  ul
    li: a(href="https://g0v.hackmd.io/ktLAg5N6Rhe5SIyxW1Votg", target="_blank") g0vers @ United Nations of Innovation Conference #[small / 20191014]
  p More news? Go to #[a(href="https://trello.com/b/xxd5GtcJ/", target="_blank") g0v intl Trello]
