//- module
.section.bg-white.section-news: .inner
  .text-center: h2 News
  ul
    li: a(href="https://g0v.hackmd.io/O-Yj2fBPREefIHQFOEyfYQ", target="_blank") Facing the Ocean at Tainan 2019
    li: a(href="https://g0v.hackmd.io/ktLAg5N6Rhe5SIyxW1Votg", target="_blank") g0vers @ United Nations of Innovation Conference
    li: a(href="https://g0v.hackmd.io/JoNZjrU9TjO6oR5OcJ0Dng", target="_blank") What’s happening in g0v
    li: a(href="https://g0v.hackmd.io/RAMOZxfmRu2-RlT7gMCuIQ", target="_blank") The First Year of g0v international
  p More news? Go to #[a(href="https://trello.com/b/xxd5GtcJ/", target="_blank") g0v intl Trello]
