//- module
.section.section-traction.bg-danger.text-light: .inner.text-center
  h2 Achievement
  p say sth
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col-6.col-md-6 #[.huge 2] Facing the Ocean Meet & Hack
    .col-6.col-md-6 #[.huge n] International Conference participate

