//- module
.section.bg-warning.section-what#what: .inner
  .text-center: h2 About g0v intl
  p g0v international (abbr. g0v-intl) is a g0v (pronounced “gov-zero”) community task force founded by g0vers. It builds capacity and proposes mechanisms for fellow g0vers to participate in international affairs related to the community. It hosts gatherings and facilitates connections for regional and international sharing and collaboration facing common challenges of our time. g0v is a Taiwanese civic hacking community founded in 2012. For more, please visit https://g0v.tw.
