//- module
.section.bg-warning.section-what#what: .inner
  .text-center: h2 關於 g0v intl
  p 有感公民科技與 g0v 社群相關的國際事務需要更多人參與，g0v 國際交流 (g0v intl) 於 2019 成立，是社群其中一個工作小組，希望建立更多交流場域，並建立開放透明的治理機制，把 g0v 協作模式擴大發展。目前已經舉辦一次台日韓跨海黑客松、協助擔任社群與 cfall 的聯繫窗口。歡迎在 g0v Slack 加入 #intl 頻道。
